
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
    font-weight: 580;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(109, 108, 108);
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(165, 165, 166, 0.8);
    backdrop-filter: blur(5px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo a {
    font-size: 24px;
    color: rgb(9, 9, 9);
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 1.8rem;
    color: black;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: black;
    font-size: 0.9em;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a i {
    margin-right: 8px;
}

.nav-links a:hover {
    color: rgb(42, 41, 41);
    transform: translateY(-3px);
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: rgb(42, 41, 41);
    transition: width 0.3s, left 0.3s;
}

.nav-links a:hover::after, .nav-links a.active::after {
    width: 100%;
    left: 0;
}

.nav-links a.active {
    color: rgb(42, 41, 41);
}

.header .social-links a {
    color: black;
    font-size: 1.2em;
    margin-left: 15px;
    transition: color 0.3s, transform 0.3s;
}

.header .social-links a:hover {
    color: rgb(42, 41, 41);
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(251, 250, 249);
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: rgb(101, 101, 101);
    align-items: center;
}

.image {
    margin: 70px;
    display: flex;
    align-items: center;
}

.icebear {
    height: 250px;
    width: 260px;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.icebear:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px rgba(158, 148, 148, 0.9);
}

.info {
    font-size: 1.2em;
    text-align: center;
    width: 38vw;
    height: auto;
    padding: 20px;
    margin: 70px;
    border-radius: 10px;
    background-color: rgb(42, 41, 41);
    transition: transform 0.3s, box-shadow 0.3s;
}

.info:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 20px rgba(18, 18, 18, 0.9);
}

.info.social-links {
    display: flex;
    justify-content:center;
    vertical-align: middle;
    align-items: center;
}

.info .social-links a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

.info .social-links a:hover {
    color: rgb(144, 144, 144);
    transform: scale(1.1);
}

p {
    margin-bottom: 10px;
    display: block;
    padding: 15px;
    text-align: left;
    font-size: 15px;
}

.section {
    padding: 80px 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.section-contact {
    padding: 100px 20px;
    border-bottom: 1px solid rgb(82, 82, 82);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section:nth-of-type(odd) {
    background-color: rgb(101, 101, 101);
}

.section:nth-of-type(even) { 
    background-color: rgb(118, 118, 118);
}

.section:last-of-type {
    background-color: rgb(42, 41, 41);
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: rgb(251, 250, 249);
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.skill {
    background-color: rgb(42, 41, 41);
    color: white;
    padding: 11px;
    border-radius: 12px;
    width: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 15px rgba(18, 18, 18, 0.8);
}

.skill i {
    font-size: 3.5em;
    margin-bottom: 1px;
}

.experience-item {
    background-color: rgb(42, 41, 41);
    color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-item:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 15px rgba(18, 18, 18, 0.8);
}

.experience-item ul {
    margin-left: 10px;
}

.footer {
    background-color: rgb(42, 41, 41);
    padding: 120px 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.footersection.social-links {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
}

.contact-container {
    background-color: rgb(42, 41, 41);
    color: white;            
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-info h3, .contact-form h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.contact-info p {
    padding: 0;
    font-size: 1em;
    line-height: 1.6;
    color: rgb(250, 250, 250);
}

.footer.social-links {
    margin-top: 20px;
}

.footer .social-links a {
    color: rgb(249, 249, 249);
    font-size: 1.5em;
    margin-right: 15px;
    transition: color 0.3s;
}

.footer .social-links a:hover {
    color: rgb(179, 179, 179);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-button {
    display: inline-block;
    font-size: 1em;
    border-radius: 10px;
    padding: 15px 80px;
    font-size: 1em;
    border-radius: 10px;
    margin: 0.5rem 0rem;
    border: 0px;
    background-color: rgb(233, 232, 232);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
    background-color: rgb(195, 195, 195);
    transform: scale(1.05);
}

.contact-form p {
    padding: 0px;
}

.button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(195, 195, 195);
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: rgb(233, 232, 232);
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 10px 0px 10px;
    margin-top: auto;
}

.footer-text {
    text-align: center;
    font-size: 13px;
    color: gray;
    font-weight: 550;
}

footer p {
    margin-bottom: 0;
    padding: 6px;
    padding-bottom: 10px;
}


.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-link {
  display: inline-block;
  margin: 0 8px;
}

.social-icon-link .fab,   
.custom-icon {             
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: -.125em;       
  transition: transform 0.3s, filter 0.3s;
  filter: invert(1);              
}

.social-icon-link:hover .fab,
.social-icon-link:hover .custom-icon {
  transform: scale(1.02);
  filter: invert(0.6);
}

 .hackerrank-icon {
  width: 1.1em;
  height: 1.0em;

}

.portfolio {
    padding: 80px 20px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.portfolio-box img {
    width: 100%;
    display: block;
}

.portfolio-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.portfolio-layer p {
    font-size: 1em;
    text-align: center;
    padding: 0 20px;
}

.portfolio-layer a {
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header {
        padding: 15px 20px;
    }

    .hamburger {
        display: block;
        z-index: 101;
    }

    .nav-links {
        position: fixed;
        right: 0;
        top: 0;
        height: 80vh;
        background-color: rgba(165, 165, 166, 0.98);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        border-radius: 10px;
        box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    }

    .nav-links.nav-active {
        transform: translateX(0%);
    }

    .nav-links a {
        margin: 20px 0;
        font-size: 1.2em;
    }

    .main {
        flex-direction: column;
        padding-top: 100px; 
    }

    .image {
        margin: 20px;
    }

    .icebear {
        height: 200px;
        width: 210px;
    }

    .info {
        width: 90%;
        margin: 20px auto;
    }

    .contact-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-info, .contact-form {
        width: 100%;
        text-align: center;
    }

    .contact-info p, .contact-form p {
        text-align: center;
    }

    .contact-form {
        margin-top: 4rem;
    }

    .footersection.social-links {
        justify-content: center;
    }

    .section-title {
        font-size: 2em;
    }
    
    .experience-item {
        padding: 15px;
    }

    .skills-container {
        gap: 10px;
        padding: 0 10px;
    }

    .skill {
        width: calc(33.33% - 14px); 
        padding: 10px 5px;
        border-radius: 8px;
    }

    .skill i {
        font-size: 2em;
        margin-top: 13px;
    }

    .skill p {
        font-size: 0.8em;
        margin-bottom: 4px;
    }

    .footer-text {
    font-size: 10px;
    }
}
  